<header>

  <!-- The <i> tag below includes the sticky note icon from Font Awesome -->
  <h1><a href="/"><i class="Game-Page"></i>Generic Game</a></h1>

  <nav>
    <ul class="navbar-list">
      <li class="navbar-item"><a href="/">Home</a></li>
      <li class="navbar-item"><a href="#">About</a></li>
      <li class="navbar-item"><a href="#">Leaderboard</a></li>
    </ul>
  </nav>

</header>
