{{> header}}

<main class="index-page">
    <div class="homepage">
      <div class="start-button-container">
          <button id="start-button">Start</button>
          </div>
      <div class="info-button-container">
        <button id="info-button">Instructions</button>
      </div>
    </div>

  </main>

  </div>
</main>

{{> footer}}
