{{> header}}
<main>

<section class="title">
  <!--This will be the header of the page-->
  <h2>{{State}}</h2>
</section>
<!-- <div class="knight">
  <img src="http://img13.deviantart.net/e8b6/i/2015/317/f/2/pikachu_knight_by_ry_spirit-d8sziuh.png"
  alt="Knight and shining armor">

</div> -->

<!--Clicking to start the dialogue screen-->
<div class="start-button-container">
  <label id="story-button">What Happend?</label>
  <p>{{how}}</p>
</div>

<div>
  <div class="player-action">
    <ul class="actions">
      <li class="action-button"><a href="/">return to home</a></li>
    </ul>
  </div>
</div>


</main>


{{>footer}}
